* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
}

h1 {
  text-align: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #111;
}

.navigation .main p {
  margin: 1rem 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-all;
}

.navigation .main p figcaption {
  margin: 1rem 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-break: break-all;
}

.copyright {
  text-align: center;
}

.footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.footer-nav li {
  float: left;
}

.footer-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 11px 13px;
  text-decoration: none;
}

.footer-nav li a:hover {
  background-color: #111;
}
